# Mini-Data Set Preparation

After the Kaggle Script "Making a mini-data set" is run (FYI, it takes about 2 minutes to run) to reduce the size of the data to 40,000 instances, run this script to organize data into a single dataframe. 

Run this with the 8 csv files produced by the Kaggle Script in the same directory.

Note: This is a Python3 script because that is what Kaggle uses.

In [130]:
# Jay's code...
# !pip install ml_metrics

Collecting ml-metrics
  Downloading ml_metrics-0.1.4.tar.gz
Requirement already satisfied (use --upgrade to upgrade): numpy in c:\users\jay\anaconda3\lib\site-packages (from ml-metrics)
Requirement already satisfied (use --upgrade to upgrade): pandas in c:\users\jay\anaconda3\lib\site-packages (from ml-metrics)
Requirement already satisfied (use --upgrade to upgrade): python-dateutil>=2 in c:\users\jay\anaconda3\lib\site-packages (from pandas->ml-metrics)
Requirement already satisfied (use --upgrade to upgrade): pytz>=2011k in c:\users\jay\anaconda3\lib\site-packages (from pandas->ml-metrics)
Requirement already satisfied (use --upgrade to upgrade): six>=1.5 in c:\users\jay\anaconda3\lib\site-packages (from python-dateutil>=2->pandas->ml-metrics)
Building wheels for collected packages: ml-metrics
  Running setup.py bdist_wheel for ml-metrics: started
  Running setup.py bdist_wheel for ml-metrics: finished with status 'done'
  Stored in directory: C:\Users\Jay\AppData\Local\pip\Cache\wheels\33\72\02\e2162a8eee235f481cc852854467e1c29d824605a514f7f5f6
Successfully built ml-metrics
Installing collected packages: ml-metrics
Successfully installed ml-metrics-0.1.4

You are using pip version 8.1.1, however version 9.0.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [1]:
import pandas as pd
import numpy as np

In [8]:
clicks_train = pd.read_csv("mini_clicks_train.csv")#got
doc_cats = pd.read_csv("mini_doc_cats.csv")
doc_ents = pd.read_csv("mini_doc_ents.csv")
doc_meta = pd.read_csv("mini_doc_meta.csv")
doc_topics = pd.read_csv("mini_doc_topics.csv")
events = pd.read_csv("mini_events.csv") #got
#page_views = pd.read_csv("mini_page_views.csv") Once I get this imported
promoted = pd.read_csv("mini_promoted.csv")#got

   Unnamed: 0  display_id            uuid  document_id  timestamp  platform  \
0          61          62  65861840b3ab9f      1781623       4651         2
1          75          76  23c6c76aeab262      1727629       5723         3
2         794         795  8cdc5a01e783a8      1768840      56758         3
3        1393        1394  f4953632cdeaf9      1762699      96740         2
4        1522        1523  cde539b7dfb671      1631112     105840         3

  geo_location
0    US>AZ>789
1    US>IL>609
2    US>PA>504
3    US>MA>506
4    US>GA>524

In [6]:
# Jay's code for the full datasets...

#clicks_train = pd.read_csv("clicks_train.csv")#got
# events = pd.read_csv("events.csv") #got
#promoted = pd.read_csv("promoted_content.csv")#got

# doc_cats = pd.read_csv("documents_categories.csv")
#doc_ents = pd.read_csv("documents_entities.csv")
#doc_meta = pd.read_csv("documents_meta.csv")
#doc_topics = pd.read_csv("documents_topics.csv")
#page_views = pd.read_csv("mini_page_views.csv") Once I get this imported

C:\Users\Jay\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2723: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## Join clicks_train and events on display_id

In [133]:
#clicks_train and events have a 1:1 relationship
print(len(events["display_id"].unique()))
print(len(clicks_train["display_id"].unique()))

39950
39950

In [134]:
#the first column seems to be the old index, we don't need this
clicks_train = clicks_train.set_index('display_id')
del clicks_train["Unnamed: 0"]
clicks_train.head()

             ad_id  clicked
display_id
7194604     189575        1
10660899    281556        0
4510419     422667        0
2203285      11189        0
12632400    470488        0

In [135]:
del events["Unnamed: 0"]
events = events.set_index("display_id")
events.head()

                      uuid  document_id  timestamp  platform geo_location
display_id
62          65861840b3ab9f      1781623       4651         2    US>AZ>789
76          23c6c76aeab262      1727629       5723         3    US>IL>609
795         8cdc5a01e783a8      1768840      56758         3    US>PA>504
1394        f4953632cdeaf9      1762699      96740         2    US>MA>506
1523        cde539b7dfb671      1631112     105840         3    US>GA>524

In [136]:
data = clicks_train.join(events)
data.head()

,ad_id,clicked,uuid,document_id,timestamp,platform,geo_location
display_id,,,,,,,
62,132780,0,65861840b3ab9f,1781623,4651,2,US>AZ>789
76,228959,0,23c6c76aeab262,1727629,5723,3,US>IL>609
795,249397,0,8cdc5a01e783a8,1768840,56758,3,US>PA>504
1394,310868,1,f4953632cdeaf9,1762699,96740,2,US>MA>506
1523,247283,0,cde539b7dfb671,1631112,105840,3,US>GA>524

## Promoted

In [137]:
len(promoted)

14966

In [138]:
#there is not a one-to-one relationship between document_id in promoted and the master data
#This is because the same ad is being shown in different documents I think
print(len(promoted["document_id"].unique()))
print(len(data["document_id"].unique()))

9269
22387

In [139]:
promoted.head()
del promoted["Unnamed: 0"]
del promoted['document_id'] #I think all we want from here is the link between ad_id and campaign id
promoted.head()

   ad_id  campaign_id  advertiser_id
0      7            1              7
1     55           26             39
2    446           43             76
3    487           81            116
4    489           81            116

In [140]:
#there is a one-to-one relationship between ad_id in promoted and the master data
print(len(promoted["ad_id"].unique())) #each add can appear more than once
print(len(data["ad_id"].unique()))

14966
14966

## Joining Info about each ad

I make a dictionary of the advertiser and campaign id for each ad_id, map that dictionary to the ad id to make the advertizer and campain columns

In [141]:
data.head()

,ad_id,clicked,uuid,document_id,timestamp,platform,geo_location
display_id,,,,,,,
62,132780,0,65861840b3ab9f,1781623,4651,2,US>AZ>789
76,228959,0,23c6c76aeab262,1727629,5723,3,US>IL>609
795,249397,0,8cdc5a01e783a8,1768840,56758,3,US>PA>504
1394,310868,1,f4953632cdeaf9,1762699,96740,2,US>MA>506
1523,247283,0,cde539b7dfb671,1631112,105840,3,US>GA>524

In [142]:
print(len(data))
print(len(data["ad_id"].unique())) #adds appear on average slightly more than twice in our minidata set

40000
14966

In [143]:
#make dictionaries to look up advertizer id and campaign id for each ad_id
advertiser_dict = dict(zip(promoted.ad_id, promoted.advertiser_id))
campaign_dict = dict(zip(promoted.ad_id, promoted.campaign_id))

In [144]:
data["campaign_id"] = data["ad_id"].map(campaign_dict)
data["advertiser_id"] = data["ad_id"].map(advertiser_dict)
data.head()

,ad_id,clicked,uuid,document_id,timestamp,platform,geo_location,campaign_id,advertiser_id
display_id,,,,,,,,,
62,132780,0,65861840b3ab9f,1781623,4651,2,US>AZ>789,16528,1006
76,228959,0,23c6c76aeab262,1727629,5723,3,US>IL>609,25174,2712
795,249397,0,8cdc5a01e783a8,1768840,56758,3,US>PA>504,26150,3829
1394,310868,1,f4953632cdeaf9,1762699,96740,2,US>MA>506,28807,1634
1523,247283,0,cde539b7dfb671,1631112,105840,3,US>GA>524,26079,2874

In [145]:
print(len(data))
print(len(data["ad_id"].unique())) #adds appear on average slightly more than twice in our minidata set

40000
14966

## Working with Page Views

Can't get the pageviews file to import, will work on this later

## Importing Document Information

I'm super stuck on why all the document ids that appear in our data arent in the files with more information about each documents.

In [146]:
#Why aren't there the same number of unique documents in each of these
print(len(data["document_id"].unique()))
print(len(doc_cats["document_id"].unique()))
print(len(doc_ents["document_id"].unique()))
print(len(doc_meta["document_id"].unique()))
print(len(doc_topics["document_id"].unique()))

22387
9253
7490
9269
9000

In [147]:
#each document has multiple possible entities, categories, topics with different confidence level. 
#maybe we should just for now keep the most likely entity, topic and category? 
doc_ents.head()

   Unnamed: 0  document_id                         entity_id  confidence_level
0       42749      1097501  0bb6322f38719d3a928eb9ca6f6a4c96          0.704652
1       42750      1097501  e0e6f88bb45d82f216b7c794e8bc0a61          0.338807
2       42751      1097501  f513b9ee061a066d9595316fe50ba8e3          0.314879
3       72655      1807706  11d5279de0b36011773ee50f75f9b43c          0.495961
4       72656      1807706  358c9e8a2ff80f858f6deb063e0bcf8f          0.337521

In [148]:
doc_cats.head()

   Unnamed: 0  document_id  category_id  confidence_level
0       25674      1097501         1100              0.92
1       25675      1097501         2005              0.07
2       51976      1807706         1209              0.92
3       51977      1807706         1205              0.07
4       51990      1316839         2003              0.92

In [149]:
# print (clicks_train.head())
print (clicks_train[0:])

             ad_id  clicked
display_id
7194604     189575        1
10660899    281556        0
4510419     422667        0
2203285      11189        0
12632400    470488        0
7759342     152212        1
12536296    354427        0
9611229      34385        0
13311159    452245        1
5312738      25876        0
13361551    123387        0
13729147    122528        0
16229981    383892        0
14789544    191679        0
4797250     275049        0
2711848      61942        1
12251842    286214        0
10088420     70638        1
9485582      25308        0
4360223     263119        0
13218175    132780        0
2719653     197811        0
15535621    153942        0
10253958    234407        1
9248701     130946        0
3841999     123742        0
1591356     179725        1
12749429     31102        0
12180765    368693        0
3995880     173130        0
...            ...      ...
12443521    270325        1
8879230     169248        0
4063511     233181        0
7049285      63593        0
13328341    466007        0
8236208     180923        0
16631956     54302        1
16173661    274027        0
14591404      6682        0
5930537     367601        0
3527698     123817        0
10631545    197172        0
15808806    392531        0
9862285     153129        0
9294640      54443        0
4325705      83666        0
6717470     375966        0
8349624     372758        0
9326506     121741        1
13364897    499346        0
16131488    175238        0
12089526    240836        0
8872147     190713        0
7686097      70647        1
3050141     163990        1
12214554     87396        1
15423498    167294        0
1436161     145936        0
14578509     79648        1
16628529    291545        0

[40000 rows x 2 columns]

In [150]:
# Scratch pad
print(clicks_train.index.values)
print(clicks_train.index.get_duplicates())

# print(clicks_train.loc[7194604:10660899])

[ 7194604 10660899  4510419 ...,  1436161 14578509 16628529]
[319426, 832428, 962152, 999239, 1163978, 1526817, 1912349, 1933126, 1957232, 1996551, 2047455, 2115689, 2160950, 2777052, 2836369, 4120341, 4328315, 4372083, 4584406, 4904309, 5165991, 5332103, 5680456, 7080346, 7276865, 7548186, 7689820, 8872556, 8996605, 9036747, 9599255, 10915666, 11089226, 11285026, 11333677, 11416548, 11895942, 12044033, 12220952, 12576791, 13005881, 13554948, 13603553, 14950442, 15437086, 15708318, 15829315, 16098772, 16366925, 16563287]

In [154]:
# Jay's code...

reg = 10 # trying anokas idea of regularization
eval = False # True = split off 10% of training data for validation and test performance

train = clicks_train

if eval:
    ids = train.index.values
    ids = np.random.choice(ids, size=len(ids)//10, replace=False)
    notids = set(train.index.values) - set(ids)
    
    #print(ids)
    #print(len(ids))
    valid = train.loc[ids] # random 10% for validation data 
    #print("length of train:" + str(len(train)))
    #print("length of valid: " + str(len(valid)))
    #print(valid.head())
    
    train = train.loc[notids] # remaining 90% as training data
    #print(train.head())
    print (valid.shape, train.shape)

cnt = train[train.clicked==1].ad_id.value_counts() # group # of clicks by ad 
cntall = train.ad_id.value_counts() # group # of displays by ad
del train

def get_prob(k):
    if k not in cnt:
        return 0
    return cnt[k]/(float(cntall[k]) + reg)  # return the proportion of ad clicks / displays

def srt(x):
    ad_ids = map(int, x.split()) # take in list of ads shown to each user
    ad_ids = sorted(ad_ids, key=get_prob, reverse=True) # re-sort the ads by training clicks / displays
    return " ".join(map(str,ad_ids)) # return the list with the ads sorted for submission
   
if eval:
    from ml_metrics import mapk

    y = valid[valid.clicked==1].ad_id.values # create list of ad click counts in validation set
    y = [[_] for _ in y]
    p = valid.groupby('display_id').ad_id.apply(list)
    p = [sorted(x, key=get_prob, reverse=True) for x in p] # create list in order expected

    print (mapk(y, p, k=12)) # compare predicted order vs. actual order in validation set

else:
    subm = pd.read_csv("sample_submission.csv") # load the sample submission file
    subm['ad_id'] = subm.ad_id.apply(lambda x: srt(x)) # re-sort the ads by overall training clicks / display
    subm.to_csv("subm_reg_1.csv", index=False)